BODY { font-family: 'Open Sans', sans-serif; }

/* texts */

._apfsz8 { font-size:9pt !important; }
._apfsz9 { font-size:9pt !important; }
._apfsz10{ font-size:10pt !important; }
._apfsz12{ font-size:12pt !important; }
._apuc   { text-transform: uppercase; }
._aplc   { text-transform: lowercase; }
._apbld  { font-weight: bold; }
._apdfnt { font-size:12pt; }
._apital { font-style: italic; }
._aplh15 { line-height:1.5em; }
._apnodecor { text-decoration:none !important; }
._aptextlt { text-decoration:line-through; }

/* colors */

._apclwht    { color:#fff; }
._apclblk    { color:#000; }
._apclgrey   { color:#aaa; }
._apclgrey2  { color:#888; }
._apop3  { opacity:0.3; }
._apop5  { opacity:0.5; }

/* backgrounds */

._apbgwht8    { background-color:rgba(255,255,255, .8); }
._apbgwht5    { background-color:rgba(255,255,255, .5); }
._apbgeee    { background-color:#eee; }
._apbgred    { background-color:red; }
._apbgwht    { background-color:#fff; }
._apbgblk    { background-color:#000; }
._apbg444    { background-color:#444; }
._apbgddd    { background-color:#ddd; }
._apbgtrans  { background-color:transparent; }
._apbgnone   { background: none !important; }
._apbgdebug   { background: rgba(244, 89, 66, .5); }

/* wraps */

._apwrap10 { height:10px; }
._apwrap15 { height:15px; }
._apwrap20 { height:20px; }
._apwrap25 { height:25px; }
._apwrap30 { height:30px; }
._apwrap40 { height:40px; }
._apwrap50 { height:50px; }
._apwrap75 { height:75px; }
._apwrap100 { height:100px; }
._apwrap150 { height:150px; }
._apfwdth  { width: 100% !important;  }
._apwdth8  { width: 80% }
._apwdth5  { width: 50% }

/* aligners */

._aprght   { text-align: right; }
._apcntr   { text-align: center; }
._apleft   { text-align: left; }

/* margins */

._apmrgno  { margin:0px !important; }
._aphmrgno { margin-right:0px !important; margin-left:0px !important; }
._apbmrgno { margin-bottom:0px !important; }
._apbmrg25 { margin-bottom:25px; }
._apvmrgno { margin-top: 0px !important; margin-bottom:0px !important; }
._apvmrg15 { margin-top: 15px; margin-bottom:15px; }
._apvmrg25 { margin-top: 25px; margin-bottom:25px; }
._apvmrg40 { margin-top: 40px; margin-bottom:40px; }
._apvmrg50 { margin-top: 50px; margin-bottom:50px; }
._aptmrg5  { margin-top:5px; }
._aptmrg10 { margin-top:10px; }
._aptmrg15 { margin-top:15px; }
._aptmrg20 { margin-top:20px; }
._aptmrg25 { margin-top:25px; }
._aptmrg30 { margin-top:30px; }
._aptmrg50 { margin-top:50px; }
._aprmrg10 { margin-right:10px !important; }
._aprmrg15 { margin-right:15px !important; }
._aprmrg25 { margin-right:25px !important; }
._aplmrg10 { margin-left:10px !important; }
._aplmrg15 { margin-left:15px !important; }
._aplmrg25 { margin-left:25px !important; }
._aplmrg50 { margin-left:50px; }

._apbmrg10 { margin-bottom:10px; }

/* paddings */

._appadno  { padding:0px !important; }
._appad10 { padding: 10px !important; }
._appad20 { padding: 20px !important; }
._appad30 { padding: 30px !important; }
._apvpadno { padding-top:0px !important; padding-bottom:0px !important; }
._aphpadno { padding-left:0px !important; padding-right:0px !important; }
._apvpad5 { padding-top:5px !important; padding-bottom:5px !important; }
._apvpad15 { padding-top:15px !important; padding-bottom:15px !important; }
._apvpad20 { padding-top:20px !important; padding-bottom:20px !important; }
._apvpad25 { padding-top:25px !important; padding-bottom:25px !important; }
._apvpad40 { padding-top:40px !important; padding-bottom:40px !important; }
._aphpad3 { padding-left:3px !important; padding-right:3px !important; }
._aphpad10 { padding-left:10px !important; padding-right:10px !important; }
._aphpad15 { padding-left:15px !important; padding-right:15px !important; }
._aphpad25 { padding-left:25px !important; padding-right:25px !important; }
._aphpad30 { padding-left:30px !important; padding-right:30px !important; }
._aplpadno { padding-left:0px !important; }

/* borders */

._apnobrdr  { border:none !important; }
._aprbrdr  { border-right: 2px solid #eee; }
._apcrnrsno { border-radius: 0px !important; }

/* blocks */

._apiblk { display:inline-block !important; }
._aprelblck { position:relative; display:block; }

/* tables */

._aptab { display: table; }
._aptabtd { display: table-cell; vertical-align:middle; }

/* user styles */

.kng-krowki > A, .kng-krowki > A:visited, .kng-krowki > A:hover  { font-size: 10pt; color: #aaa; }
.kng-lg-menu-correct { position: relative; left: -20px; }
.kng-mmenu-cont { box-shadow: 0 0 20px rgba(0,0,0,0.5) !important; }
.kng-mmenu  A, .kng-mmenu  A:visited, .kng-mmenu  A:hover   { font-size:14pt; color: #122937; text-decoration: none; }
A.kng-topnav, A.kng-topnav:visited  { font-size:11pt; color: #dbab01; text-decoration: none; }
A.kng-topnav:hover   { font-size:11pt; color: #d88b01; text-decoration: underline; }
A.kng-banlnk, A.kng-banlnk:visited, A.kng-banlnk:hover { color:#000; }
A.kng-frm-lnk, A.kng-frm-lnk:visited { font-size:10pt; color:#999; text-decoration: underline; }
A.kng-frm-lnk:hover { color:#fff; text-decoration: underline }
.kng-logo-main { padding: 10px 15px; }
.kng-logo-main IMG { width: 185px; }
.kng-top-phones { padding: 10px 30px; }
.kng-bldphone { font-weight: bold; font-size:14pt; }
.kng-reqphone A, .kng-reqphone A:visited, .kng-reqphone A:active, .kng-reqphone A:focus { color: #000; font-size:13pt; border: 2px solid #dbab01; border-left:none; border-right:none; border-top:none; text-decoration:none; } 
.kng-reqphone A:hover { text-decoration: none; border: 2px dotted #dbab01; border-left:none; border-right:none; border-top:none; }
.kng-phoneimg { position:relative; top: -40px; left: -180px; }
.kng-mobile-phone > IMG { background: url('../images/phone2.png') 50% 50% no-repeat; background-size:cover; }
.kng-mphn-nav { display: block !important; }
.kng-topban-img { background-size:cover !important; }
.kng-banner-menu { position:absolute; left:0px; top:0px; background-color:rgba(255,255,255,0.8); border: 2px solid #dbab01; border-left:none; border-right:none; }
.kng-razdel-hdr { border: 2px solid #bbb; border-left:none; border-right:none; border-top:none; }
.kng-razdel-subhdr { color: #dbab01; }
.kng-circles-line { background: url('../images/circles/line.gif') 50% 50% no-repeat; } 
.kng-circles-text { position:relative; font-style:italic; padding-left:3px; padding-right:3px; }
.kng-frm-row { background-color:#172c3b; border: 2px solid #dbab01; border-left:none; border-right:none; }
.kng-frm-inpt { background-color: transparent; border: 2px solid #dbab01;}
.kng-frm-sbmt { background-color: #fff; border: 2px solid #dbab01; }
.kng-chck-policy label:HOVER { cursor:pointer; }
.kng-chck-policy input[type=checkbox]:checked + label,
.kng-chck-policy input[type=text] {
	border-top:none;
	border-left:none;
	border-right:none;
	background-color:transparent;
}
.kng-chck-policy input[type=checkbox] + label:before {
	position: absolute;
	display: block;
	margin-left:-35px;
	margin-right:9px;
	top:15px;
}
.kng-chck-policy input[type=checkbox]:checked + label:before {
	position: absolute;
	content: url('../images/chckbox-1.png');
	top:15px;
}

.kng-chck-policy-orign input[type=checkbox] + label:before { content: url('../images/chckbox-2.png'); }
.kng-chck-policy-error input[type=checkbox] + label:before { content: url('../images/chckbox-err.png'); }

.kng-chck-policy input[type=checkbox] + label {
	display: block; 
	font-weight: normal;
	font-size: 7pt;
	color:#fff;
	margin-left: 35px;
	margin-top:0px;
}
.kng-chck-policy a, .kng-chck-policy a:visited {
	position:relative;
	display:block;
	color: #ddd;
	text-decoration: underline;
	font-weight: normal;
	font-size: 7pt !important;
	z-index:10;
}
.kng-chck-policy a:hover { color: #eee; }
.kng-frm-brdr { border: 2px solid #ccc; border-top:none; border-right:none; border-bottom:none; }
.kng-cat-item { background-size:cover; }
.kng-legend, .kng-legend2 { position: relative; top: -50px; left:-20px; margin-top:-100px; font-style: italic; color: #172c3b; border: 2px solid #dbab01;}
.kng-legend:hover, .kng-legend2:hover { background-color: rgba(36,57,67,0.8); color:#fff; }
.kng-legend3 { font-style: italic; color: #172c3b; border: 2px solid #dbab01;}
.kng-legend3:hover { background-color: rgba(36,57,67,1); color:#fff; }
.kng-sotrud-img { background: url('../images/misc/sotrud.jpg') left center no-repeat; background-size:cover; }
.kng-tech-img { background: url('../images/misc/tech.jpg') left center no-repeat; background-size:cover; }
.kng-yandex-map, .kng-bot-frm { min-height:670px; font-size:9pt; }
.kng-cont-yamap { min-height:350px; font-size:9pt; }
.kng-socials  { width: 250px; }
.kng-footer-bg {  background: url('../images/misc/caps/keeng3.gif') -55px center no-repeat; background-size:250px; height:230px; }
.kng-socials-lnk, .kng-socials-lnk:visited { font-size: 22pt !important; color: #172C3B; opacity:0.7; display:inline-block; padding:0 20px; }
.kng-socials-lnk:hover { opacity:1; color: #172C3B; }
.kng-tests-ava { width: 150px; }
.kng-tests-ava-tovar { width: 90px; border-radius:50%; border: 2px solid #dbab01; }
.kng-test-bg {  background: url('../images/bgs/tests-bg.gif') left top no-repeat; }
.kng-tests-name { font-size: 16pt; }
.kng-ftr-mess { height: 15pt; }
.kng-copy { font-size:11pt; }
.kng-modal-content { background-color:#172c3b; box-shadow: none !important; border:none !important; }
.kng-modal-close { color: #dbab01; !important; opacity: 1 !importamt; text-shadow: none;}
.kng-modal-header .close { opacity: .7 !important;  }
.kng-modal-header .close:hover { opacity: 1 !important;  }
.kng-modal-header { border:none !important; }
.kng-topban-hdr-cont { position:absolute; top:10px; left:0px; width:100%; }
.kng-topban-hdr { text-shadow: 1px 1px 2px black, 0 0 0em transparent; }
.kng-topban-ftr { position:relative; margin-top: -50px; margin-left:20px; }
.kng-modal-body > P { font-size:18pt; }
.kng-hr-grey { border: 2px solid #bbb; border-left:none; border-right:none; border-top:none; }
.kng-hr-yellow { border: 2px solid #DCA900; border-left:none; border-right:none; border-top:none; }
.kng-slide-1 { background: url('../images/banner/top-banner-1.jpg') 50% 50% no-repeat; }
.kng-slide-2 { background: url('../images/banner/top-banner-2.jpg') 50% 50% no-repeat; }
.kng-slide-3 { background: url('../images/banner/top-banner-3.jpg') 50% 50% no-repeat; }
.kng-inpt-error { border-color:red !important; }
.kng-colors-text-block { margin: 0px 15px; padding: 25px; border: 2px solid #dbab01; }
.kng-heart-toggle { color: #ef1a3a !important; }
.kng-cat-item-brdr { border: 1px solid #DCA900; }
A.kng-clr-link, A.kng-clr-link:visited { line-height:30px; color: #172c3b; text-decoration: underline; opacity: .7; }
A.kng-clr-link:hover { line-height:30px; color: #172c3b; text-decoration: underline; opacity: 1; }
A.kng-heart, A.kng-heart:visited, A.kng-heart:hover { font-size:20pt !important; color: #888; }
A.kng-banner-butt, A.kng-banner-butt:visited {
	display:incline-block;
	color: #fff;
	border: 2px solid #fff;
	background-color: #DCA900;
	padding:2px 5px;
	margin-right:10px;
	text-decoration: none; 
}
A.kng-banner-butt:hover { background-color: #ffc300; }
A.kng-banner-butt2, A.kng-banner-butt2:visited {
	display:incline-block;
	color: #555;
	border: 2px solid #DCA900;
	background-color: #fff;
	padding:2px 5px;
	margin-right:10px;
	text-decoration: none;
}
A.kng-banner-butt2:hover { color: #fff; background-color: #DCA900; border: 2px solid #fff; }
A.kng-banner-butt3, A.kng-banner-butt2:visited {
	display:incline-block;
	color: #122937;
	border: 2px solid #DCA900;
	background-color: #fff;
	padding:10px 15px;
	margin-right:10px;
	text-decoration: none;
	font-weight:bold;
}
A.kng-banner-butt3:hover { color: #fff; background-color: #DCA900; border: 2px solid #fff; }
A.kng-share, A.kng-share:visited {
	display:incline-block;
	border: 2px solid #DCA900;
	padding:5px 30px;
	color:#333;
	text-decoration:none;
}
A.kng-share:hover { background-color: rgba(255, 195, 0, .2) }
A.kng-otzyv-lnk, A.kng-otzyv-lnk:visited { color:#888; text-decoration:underline;}
A.kng-otzyv-lnk:hover { color:#333; }
.kng-deliver-badge { position:absolute; top:70%; width:60%; color:#fff; background-color: #DCA900; font-size:12pt; }
.kng-contacts-frm { background-color: #DCA900 !important; }
.kng-about-banner { width:100%; height:450px; background-size:cover; background-repeat:no-repeat; background-position: 50% 50%; }
.kng-about-banner-v2 IMG { width:100%; height:auto; }
/* hovers */

.kng-7reas-img-1 img  { background: url('../images/icons/icon_1.gif') 50% 50% no-repeat; background-size:cover; }
.kng-7reas-img-1 img:hover  { background: url('../images/icons/hovers/icon_1.gif') 50% 50% no-repeat; cursor: pointer; background-size:cover; }
.kng-7reas-img-2 img  { background: url('../images/icons/icon_2.gif') 50% 50% no-repeat; background-size:cover; }
.kng-7reas-img-2 img:hover  { background: url('../images/icons/hovers/icon_2.gif') 50% 50% no-repeat; cursor: pointer; background-size:cover; }
.kng-7reas-img-3 img  { background: url('../images/icons/icon_3.gif') 50% 50% no-repeat; background-size:cover; }
.kng-7reas-img-3 img:hover  { background: url('../images/icons/hovers/icon_3.gif') 50% 50% no-repeat; cursor: pointer; background-size:cover; }
.kng-7reas-img-4 img  { background: url('../images/icons/icon_4.gif') 50% 50% no-repeat; background-size:cover; }
.kng-7reas-img-4 img:hover  { background: url('../images/icons/hovers/icon_4.gif') 50% 50% no-repeat; cursor: pointer; background-size:cover; }
.kng-7reas-img-5 img  { background: url('../images/icons/icon_5.gif') 50% 50% no-repeat; background-size:cover; }
.kng-7reas-img-5 img:hover  { background: url('../images/icons/hovers/icon_5.gif') 50% 50% no-repeat; cursor: pointer; background-size:cover; }
.kng-7reas-img-6 img  { background: url('../images/icons/icon_6.gif') 50% 50% no-repeat; background-size:cover; }
.kng-7reas-img-6 img:hover  { background: url('../images/icons/hovers/icon_6.gif') 50% 50% no-repeat; cursor: pointer; background-size:cover; }
.kng-7reas-img-7 img  { background: url('../images/icons/icon_7.gif') 50% 50% no-repeat; background-size:cover; }
.kng-7reas-img-7 img:hover  { background: url('../images/icons/hovers/icon_7.gif') 50% 50% no-repeat; cursor: pointer; background-size:cover; }
.kng-sotr-head { font-size:10pt; color:#DCA900; }
.kng-sotr-rght-img { background-size: cover; background-position:center center;}
/* medias */

@media(min-width:200px){
	.kng-topban-img { width: 100%; max-height:300px; background-position: -7px top; }
	.kng-banlnk { font-size:9pt; }
	.kng-7reas-img { width: 60%; }
	.kng-7reas-img2 { width: 30%; }
	.kng-7reas-text, .kng-legend, .kng-legend2 { font-size:9pt; }
	.kng-dbg1, .kng-dbg2, .kng-dbg3 { height:200px; }
	.kng-dbg1 { background: url('../images/bgs/divan-1.jpg') left 30% no-repeat; background-size:70%; }
	.kng-dbg2 { background: url('../images/bgs/divan-2.jpg') right 20% no-repeat; background-size:70%; }
	.kng-dbg3 { background: url('../images/bgs/divan-3.jpg') left 40% no-repeat; background-size:70%; }
	.kng-payments { font-size: 9pt; }
	.kng-circles-text { font-size:8pt; top:-55px; }
	.kng-circle { display:inline-block; height:70px; width:auto; }
	.kng-topban-hdr { left:10px; }
	.kng-topban-ftr { font-size:8pt;  height:10px; }
	.kng-tabs UL LI A { font-size:5pt; }
	.kng-tabs-colors UL LI A { font-size:5pt; }
	.kng-karta-link { font-size:9pt; }
	.kng-akt-color-descr { font-size: 7pt; }
}

@media(min-width:360px){
	.kng-circles-text { font-size:9pt; }
	.kng-tabs UL LI A { font-size:6pt; }
	.kng-tabs-colors UL LI A { font-size:6pt; }
}

@media(min-width:400px){
	.kng-banlnk { font-size:11pt; }
	.kng-dbg1, .kng-dbg2, .kng-dbg3 { height:250px; }
	.kng-circles-text { font-size:10pt; top:-63px; }
	.kng-circle { display:inline-block; height:80px; width:auto; }
	.kng-topban-hdr { font-size:14pt; left:20px }
	.kng-tabs-colors UL LI A { font-size:8pt; }
}

@media(min-width:500px){
	.kng-topban-hdr { font-size:16pt; }
	.kng-tabs UL LI A { font-size:9pt; }
	.kng-tabs-colors UL LI A { font-size:9pt; }
}

@media(min-width:601px){
	.kng-topban-img { background-position: center center; max-height:650px; }
	.kng-7reas-img, .kng-7reas-img2 { width: auto; }
	.kng-7reas-text { font-size:12pt; }
	.kng-dbg1 { background: url('../images/bgs/divan-1.jpg') left top no-repeat; background-size:60%; }
	.kng-dbg2 { background: url('../images/bgs/divan-2.jpg') right top no-repeat; background-size:60%; }
	.kng-dbg3 { background: url('../images/bgs/divan-3.jpg') left top no-repeat; background-size:60%; }
	.kng-circles-text { font-size:12pt; top:-77px; }
	.kng-circle { display:inline-block; height:100px; width:auto; }
	.kng-topban-hdr { font-size:22pt; }
	.kng-topban-ftr { font-size:13pt; margin-top: -50px; height:10px; }
}

@media(max-width:600px){ }

@media(max-width:767px){
	BODY._apreglr { margin-top: 96px; }
	._apnobrdrxs  { border:none !important; }
	._aphpadnoxs { padding-left:0px !important; padding-right:0px !important; }
	._apfwdthxs  { width: 100% !important;  }
	._aptmrg35noxs { margin-top:0px; }
	._apwrap150xs60 { height:60px; }
	._aptmrg15xs { margin-top:15px; }
	._aptmrg5xs { margin-top:5px; }
	._aplpad7lg { padding-left:0px !important; }
	._aprpad7lg { padding-right:0px !important; }
	._appadnoxs { padding:0px !important; }
	._aphpad15xs { padding-left:15px !important; padding-right:15px !important; }
	._apleftxscntr { text-align: center; }
	.kng-logo { width: 136px; }
	.kng-logo-adj { padding: 22px 18px !important; }
	.kng-banner-menu { line-height:25px; }
	.kng-razdel-hdr { font-size:12pt; }
	.kng-razdel-subhdr, kng-text { font-size:12pt; }
	.kng-hbrdrs { border: 2px solid #dbab01; border-left: none; border-right: none; }
	.kng-left-img { width:100%; float:left; margin: 0 0 20px 0; }
	#kng-tovar-slider .glyphicon-chevron-left::before, #kng-other-tovar-slider .glyphicon-chevron-left::before { content: url('../images/sl-arr-l-xs.png'); }
	#kng-tovar-slider .glyphicon-chevron-right::before, #kng-other-tovar-slider .glyphicon-chevron-right::before { content: url('../images/sl-arr-r-xs.png'); }
	.kng-tovar-block { background-color:#444; }
	.kng-tovar-block { max-width:auto; }
}

@media(min-width:768px){
	BODY._apreglr { margin-top: 196px; }
	#kng-dropdown-menu-cont { max-height: calc(100vh - 160px); overflow-y: auto; }
	#site-topmenu-container { height: 163px !important; }
	.kng-menu-container { top:163px; }
	.kng-topnav-cont { display:inline-block; padding-left:25px; padding-right:25px; }
	._aphpadnoxs { padding-left:15px !important; padding-right:15px !important; }
	._aptmrg35noxs { margin-top:35px; }
	._apwrap150xs60 { height:150px; }
	._aptmrg15xs { margin-top:0px; }
	._aptmrg5xs { margin-top:0px; }
	._aplpad7lg { padding-left:7px !important; }
	._aprpad7lg { padding-right:7px !important; }
	._apleftxscntr { text-align: left; }
	._aphpad15xs { padding-left:0px !important; padding-right:0px !important; }
	.kng-topban-img { width: 100%; }
	.kng-banner-menu { line-height:30px; }
	.kng-razdel-hdr { font-size:16pt; }
	.kng-razdel-subhdr { font-size:14pt; }
	.kng-text { font-size:13pt; }
	.kng-banlnk, .kng-legend { font-size:12pt; }
	.kng-dbg1, .kng-dbg2, .kng-dbg3 { height:300px; }
	.kng-legend2 { font-size:8pt; }
	.kng-text-sotr { font-size:8.4pt; }
	.kng-circles-text { font-size:11pt; top:-65px; }
	.kng-circle { display:inline-block; height:80px; width:auto; }
	.kng-payments { font-size: 12pt; }    
	.kng-topban-hdr { font-size:28pt; }
	.kng-topban-ftr { font-size:13pt; }
	.kng-hbrdrs { border: 2px solid #dbab01; border-top: none; border-bottom: none; }
	.kng-left-img { width:50%; float:left; margin: 0 20px 10px 0; }
	#kng-tovar-slider .glyphicon-chevron-left::before, #kng-other-tovar-slider .glyphicon-chevron-left::before { content: url('../images/sl-arr-l.png'); }
	#kng-tovar-slider .glyphicon-chevron-right::before, #kng-other-tovar-slider .glyphicon-chevron-right::before { content: url('../images/sl-arr-r.png'); }
	#kng-akc-slider .carousel-control { width: 7% important; }
	.kng-tovar-block { position:absolute; top:22%; left:45%; }
	.kng-karta-link { font-size:8pt; }
	.kng-tovar-block { max-width:400px; }
	.kng-akt-color-descr { font-size: 9pt; }
}

@media(min-width:992px){
    #kng-dropdown-menu-cont { max-height: calc(100vh - 160px); overflow-y: auto; }
    #site-topmenu-container { height: 153px !important; }
    .kng-menu-container { top:153px; }
	.kng-banner-menu { line-height:40px; }
	.kng-dbg1 { height:340px; }
	.kng-circles-text { font-size:13pt; top:-80px; }
	.kng-circle { display:inline-block; height:100px; width:auto; }
	.kng-legend2 { font-size:10pt;}
	.kng-text-sotr { font-size:11.4pt; }
	.kng-tovar-block { position:absolute; top:40%; left:60%; }
	.kng-tabs UL LI A { font-size:12pt; }
	.kng-karta-link { font-size:10pt; }
}

@media(min-width:1200px){
	#kng-dropdown-menu-cont { max-height: auto; overflow-y: auto; }
	.kng-topnav-cont { display:inline-block; padding-left:15px; padding-right:15px; }
	.kng-circles-text { font-size:13pt; top:-90px; }
	.kng-circle { display:inline-block; height:120px; width:auto; }
	.kng-text-sotr { font-size:13pt; }
	.kng-tovar-block { position:absolute; top:45%; left:60%; }
}

/* bootstrap tweaks */

.navbar-default .navbar-collapse { border-color: #dbab01; border-width:2px; }

.navbar-toggle.collapsed ._apswico IMG {
	background: url('../images/sandwich.png') 50% 50% no-repeat;
}

.navbar-toggle ._apswico IMG {
	background: url('../images/close.png') 50% 50% no-repeat;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: transparent !important;
}

._aptotop, ._aptotop:visited  {
	background-color:#777;
	border-radius: 8%;
	width:50px;
	border: 0px solid white;
	cursor: pointer;
	position: fixed;
	bottom: 20px;
	right: 20px;
	display:none;
	text-align:center;
	line-height:50px;
	color: #fff;
	font-size:18pt;
	text-decoration:none !important;
	opacity:0.5;
}

._aptotop:hover { background-color:#999; }

.nav > li.dropdown.open { position: static; }
.nav > li.dropdown.open > a:focus{ background-color: transparent; color: #b3282d; }
.navbar-default .navbar-nav > li > a:focus { color: #777; }
.nav > li.dropdown.open .dropdown-menu {
	display: table;
	border-radius: 0px;
	border: none;
	width: 100%;
	text-align: center;
	top: 44px;
	left: 0px;
	right: 0;
}

.dropdown-menu > li {
	display: table-cell;
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
}

@media screen and (max-width: 767px) {
	.dropdown-menu > li {
		display: block;
	}
}

#topslider .carousel-indicators li {
	display: inline-block;
	width: 25px;
	height: 25px;
	margin: -27px 0px;
	text-indent: 0;
	cursor: pointer;
	background-color: transparent;
	border: none;
	border-radius: 0%;
	opacity: .7;
}

#topslider .carousel-indicators li:hover { opacity: 1; }

#topslider .carousel-indicators .kng-slider-ind  {
	background: url('../images/icons/sl-1.gif') left top no-repeat !important;
}

#topslider .carousel-indicators .kng-slider-ind.active  {
	background: url('../images/icons/sl-2.gif') left top no-repeat !important;
}

#kng-akc-slider .glyphicon-chevron-left::before { content: url('../images/sl-arr-l.png'); }
#kng-akc-slider .glyphicon-chevron-right::before { content: url('../images/sl-arr-r.png'); }
#kng-akc-slider .carousel-control { opacity: .5 !important; }
#kng-akc-slider .carousel-control:hover { opacity: 1 !important; }
#kng-akc-slider A.right.carousel-control .glyphicon-chevron-right { top:calc(50% - 24px); }
#kng-akc-slider A.left.carousel-control .glyphicon-chevron-left { top:calc(50% - 24px); }
#kng-tovar-slider .carousel-control, #kng-other-tovar-slider .carousel-control { opacity: .5 !important; width:7% !important; }
#kng-tovar-slider .carousel-control:hover, #kng-other-tovar-slider .carousel-control:hover { opacity: 1 !important; }
#kng-tovar-slider A.right.carousel-control .glyphicon-chevron-right,
#kng-other-tovar-slider A.right.carousel-control .glyphicon-chevron-right { top:calc(50% - 24px); }
#kng-tovar-slider A.left.carousel-control .glyphicon-chevron-left,
#kng-other-tovar-slider A.left.carousel-control .glyphicon-chevron-left { top:calc(50% - 24px); }

.kng-chck-policy-wht label:HOVER { cursor:pointer; }
.kng-chck-policy-wht input[type=checkbox]:checked + label,
.kng-chck-policy-wht input[type=text] {
	border-top:none;
	border-left:none;
	border-right:none;
	background-color:transparent;
}
.kng-chck-policy-wht input[type=checkbox] + label:before {
	position: absolute;
	display: block;
	margin-left:-50px;
	margin-right:9px;
	top:10px;
}
.kng-chck-policy-wht input[type=checkbox]:checked + label:before {
	position: absolute;
	content: url('../images/chckbox-4.png');
	top:10px;
}

.kng-chck-policy-wht-orign input[type=checkbox] + label:before { content: url('../images/chckbox-3.png'); }
.kng-chck-policy-wht-error input[type=checkbox] + label:before { content: url('../images/chckbox-wht-err.png'); }

.kng-chck-policy-wht input[type=checkbox] + label {
	display: block; 
	font-weight: normal;
	font-size: 7pt;
	color:#ddd;
	margin-left: 50px;
	margin-top:0px;
}
.kng-chck-policy-wht a, .kng-chck-policy-wht a:visited {
	position:relative;
	display:block;
	color: #ccc;
	text-decoration: underline;
	font-weight: normal;
	font-size: 7pt !important;
	z-index:10;
}
.kng-chck-policy-wht a:hover { color: #aaa; }
.kng-tabs UL { border:none !important; }
.kng-tabs UL LI.kng-tabs-legend  { font-family: 'Open Sans', sans-serif; color: #555;}
.kng-tabs UL LI.active A { background-color:#eee !important; color: #555 !important; }
.kng-tabs UL LI A {
	border-radius: 0px;
	border-right:2px solid white !important;
	border-left:none !important;
	border-top:none !important;
	border-bottom:none !important;
	background-color:#888 !important;
	color: #fff !important;
	text-transform: uppercase;
	margin:0px !important;
}
.kng-tabs UL LI A:hover { background-color:#666 !important;}
.kng-tabs UL LI.active  A:hover { background-color:#eee !important;}
.kng-tabs .tab-content DIV.active { background-color:#eee !important;}
.tab-pane { font-family: 'Open Sans', sans-serif; line-height: 1em !important; }

.kng-tabs-colors UL { border:none !important; }
.kng-tabs-colors UL LI.kng-tabs-legend  { font-family: 'Open Sans', sans-serif; color: #666;}
.kng-tabs-colors UL LI.active A { background-color:transparent !important; color: #DCA900 !important; }
.kng-tabs-colors UL LI A {
	border-radius: 0px;
	border-right:2px solid white !important;
	border-left:none !important;
	border-top:none !important;
	border-bottom:none !important;
	background-color:transparent !important;
	color: #666 !important;
	margin:0px !important;
	text-decoration:underline;
	padding-left:0px !important;
	padding-right:0px !important;
	margin-right:20px !important;
}
.kng-tabs-colors UL LI A:hover { background-color:#f3f3f3 !important; text-decoration:underline;}
.kng-tabs-colors UL LI.active  A:hover { background-color:transparent !important;}
.kng-tabs-colors .tab-content DIV.active { background-color:transparent !important;}
.tab-pane { font-family: 'Open Sans', sans-serif; line-height: 1em !important; }
.kng-tovar-slider-price-block {
	font-family: 'Open Sans', sans-serif; 
	font-size:10pt;
	padding:5px;
}
.kng-tovar-slider-hdr {position: absolute; top:0px; z-index:10; width:calc( 100% - 20px ); padding:5px; font-size:18pt;}
.kng-tovar-badge { position: absolute; top:10px; left:-5px; }
.kng-is-liked { color:red !important; }
A.kng-like, A.kng-like:visited {
	text-decoration:none; color:#999;
}
A.kng-like:hover { color:red; }
.kng-favorites-hdr {position: absolute; top:0px; z-index:10; width:calc( 100% - 30px ); padding:10px; font-size:18pt;}
.kng-favorites-hdr .kng-tovar-badge { position: absolute; top:5px; left:-10px; }
.kng-filters LABEL { font-family: 'Open Sans', sans-serif; color: #333; font-size:9pt; font-weight:normal; }
.kng-filters input[type=checkbox] { display:none; }
.kng-filters input[type=checkbox] + label { margin-left:25px; }
.kng-filters input[type=checkbox] + label:hover { cursor:pointer; }
.kng-filters input[type=checkbox] + label:before {
	position: absolute;
	display: block;
	margin-left:-25px;
	top:-2px;
	font-family: FontAwesome;
	color: #ccc;
	font-size:14pt;
}
input[type=checkbox].kng-chckbox-square + label:before { content: "\f096"; }
input[type=checkbox].kng-chckbox-circle + label:before { content: "\f10c"; }
input[type=checkbox].kng-chckbox-square:checked + label:before {
	font-family: FontAwesome;
	content: "\f0c8";
	color: #DCA900;
}
input[type=checkbox].kng-chckbox-circle:checked + label:before {
	font-family: FontAwesome;
	content: "\f111";
	color: #DCA900;
}
.kng-tovar-descr-block { padding:15px; min-height:290px; }
.kng-tovar-descr-block p.kng-tovar-pdescr { padding:0; margin:0; font-size:9pt; }
.kng-tovar-descr-block p.kng-tovar-pprice-hdr { font-size:14pt; text-decoration:underline; }
.kng-tovar-descr-block p.kng-tovar-pprice { font-size:14pt; text-decoration:none; }
.kng-tovar-pprice > span { margin-left:30px; font-size:12pt; color:#aaa; font-weight:normal; text-decoration: line-through; }
.kng-tovar-like { left: calc(100% - 50px); position:absolute; font-size:18pt; }
.kng-tovar-like-bottom { left: calc(100% - 40px); position:absolute; font-size:18pt; top:calc( 100% - 50px ); }
.kng-menu-container { position:fixed; background-color:transparent; width:100%; box-shadow:none; }
.kng-menu-panel { box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3) !important; padding:0px 25px; }
.kng-menu-hdr { background-color:#f0f0f0; font-size:12pt; padding:10px 10px; color:#555; margin-bottom:15px; }
A.kng-menu-link, A.kng-menu-link:visited { display:block; font-size:11pt; padding:10px 10px; color:#333; }
A.kng-menu-link:hover { color: #DCA900; }
.kng-tab-text { line-height:1.7em; font-size:11pt; }
.kng-compl-tab { margin:10px; }
.kng-compl-tab IMG { max-height:80px; }
.kng-karta-link { background-color: #DCA900; }
.kng-karta-link A, .kng-karta-link A:visited { color: #fff; text-decoration: none; border-bottom: 1px solid #fff; }
.kng-karta-link A:hover { border-bottom: 1px dotted #fff; }
.kng-mbl-submenu { font-size: 11pt !important; opacity:.8; }
.kng-akt-color-descr {
	display:none;
	position:absolute;
	top:calc( 100% - 30px );
	width:calc( 100% - 6px);
	border:1px solid #DCA900;
	background-color: rgba(255,255,255,.8);
	padding:5px;
	text-align:center;
	height:30px;
}
.kng-akt-color:hover .kng-akt-color-descr { display:block; }
A.kng-compl-tab-link, A.kng-compl-tab-link:visited, A.kng-compl-tab-link:hover  { color: #DCA900; }
.kng-spoiler-link-cont { margin:0 15px 25px 15px; }
.kng-spoiler-link-cont > SPAN { font-size:14pt; }
.kng-spoiler-link-cont > A, .kng-spoiler-link-cont > A:visited, .kng-spoiler-link-cont > A:hover, .kng-spoiler-link-cont > A:focus {
	color: #555;
	font-size:14pt;
	text-decoration:none;
}
.kng-arr-browse { margin-left:15px; color: #DCA900 !important; }
